body {
  


background-color: #000000;
}




h1{
    font-size: 2em;
    color: #455fd1;

}

p {

    
    color: #82e6c8;
}

#textArea {
    
    width: 600px;
}

#clearBills{
    background-color: #e76262;
    color: rgb(255, 255, 255);
  
}